# Created by .ignore support plugin (hsz.mobi)
.idea/
.build/
.DS_Store
.vscode/
.history

attribution-datacube/click-index/target
attribution-datacube/conv-attribution/target
attribution-datacube/attribution-proto/target
attribution-datacube/target
attribution-datacube/attribution-datacube.iml
attribution-datacube/attribution-proto/attribution-proto.iml
attribution-datacube/click-index/click-index.iml
attribution-datacube/conv-attribution/conv-attribution.iml

attribution-datacube-us/click-index/target
attribution-datacube-us/conv-attribution/target
attribution-datacube-us/attribution-proto/target
attribution-datacube-us/target
attribution-datacube-us/attribution-datacube.iml
attribution-datacube-us/attribution-proto/attribution-proto.iml
attribution-datacube-us/click-index/click-index.iml
attribution-datacube-us/conv-attribution/conv-attribution.iml

**/**/*.iml


attribution-web/yarn-error.log
attribution-web/node_modules/
attribution-web/dist
attribution-web/deploy
attribution-web/.orange-ci.yml
attribution-web/CHANGELOG.md

attribution-miniprogram/yarn-error.log
attribution-miniprogram/node_modules/
attribution-miniprogram/dist
attribution-miniprogram/deploy
attribution-miniprogram/.orange-ci.yml
attribution-miniprogram/CHANGELOG.md